<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You're now following "<%= @post.title %>", you'll be notified of all comments. If you don't wish to receive any more emails about you may unfavorite your <%= link_to "post", topic_post_url(@post.topic, @post)%>.</h1>
    <p>
      <%= link_to "View Post on Site", topic_post_url(@post.topic, @post) %>
    </p>
    <p>
      <%= link_to "View Comment on site", topic_post_url(@post.topic, @post, anchor: "comment-#{@comment.id}") %>
    </p>
  </body>
</html>